@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Custom primary component design */
@layer components {
    .primary {
        @apply bg-gradient-to-tr from-[#0055aa] from-20% via-[#5857ff] via-70% to-[#0055aa] to-90% opacity-80;
    }
}